 /* COLOR PALETTE
 #62929E - Steel Teal
 #253C78 - Dark Cornflower Blue
 #F8F7FF - Ghost White
 #FFE45E - Minion Yellow
 #56E39F - Medium Aquamarine */




/* Global styles
------------------------------------------ */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #000000;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
img {
    width: 300px;
}
a {
    /* color: rgb(113, 169, 204); */
    color: #6299b3;
}
a:visited {
    color: rgb(151, 151, 151);
}
a:focus {
    outline: 1px solid black;
}
a:hover {
    background: rgb(165, 165, 165);
}
a:active {
    color: white;
}
h1 {
    font-size: 48px;
    line-height: 1;
    font-weight: 400;
    /* font-family: 'Dancing Script', cursive; */
}
h2 {
    font-size: 32px;
    font-weight: 500;
}

.job-title {
    color: #272727;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    padding-top: 30px;
}

h1, h2 {
    margin: 0;
    /* font-weight: 500; */
    /* font-family: 'Libre Baskerville', serif; */
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Libre Bodoni', serif;
}
.content-wrap {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}
.smaller {
    font-size: 80%;
}
h3 {
    margin-bottom: 0;
}
.item-details h3 + p {
    font-style: italic;
}
.item-details h3 ~ p {
    margin: 0;
}
.divider > section {
    border-bottom: 1px dashed #343434;
    padding: 25px 0;
}
.divider > section:last-of-type {
    border-bottom: none;
} 


/* Profile
------------------------------------------ */
header {
    background: #ffed95;
}

.header-item {
    overflow: hidden;
    border-bottom: 1px dashed #343434;
    padding: 4px 0;
}

/* Projects
------------------------------------------ */
.projects {
    background: #F7FFF7;
    color: #000000;
}
.projects a {
    color: none;
}
.projects .btn {
    background: rgb(23, 55, 87);
    color: #d8d8d8;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}
.projects .btn:hover {
    background: rgba(75, 92, 109, 80%);
}
.project-item {
    overflow: hidden;
    border-bottom: 1px dashed #343434;
    padding: 25px 0;
}


/* Work experience
------------------------------------------ */
.work-experience {
    background: #A1C6D7;
}


/* Education
------------------------------------------ */
.education {
    /* background: #F7FFF7;
    color: #252525; */
    background-image: url(../images/sharon-mccutcheon-unsplash.jpg);
    background-size: cover;
    background-position: top right;
    padding-bottom: 100px;
}
.education p {
    width: 60%;
}

/* Contact Info
------------------------------------------ */
footer {
    /* background: #1b326b; */
    /* background: #454D66; */
    /* background: #2c314c; */
    /* background: #0b2934; */
    /* background: #072029; */
    background: #343434;
    color: #F7FFF7;
}

.footer-link {
    /* color: rgb(113, 169, 204); */
    color: #ffed95;
}

.contact-list {
    list-style-type: none;
}

/* Responsive styles
------------------------------------------ */
@media screen and (min-width:750px){
    .project-item img {
        float: left;
        margin: 20px;
    }

    .job-item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
    }
}
/* @media screen and (max-width:749px) {

} */